# EDA

📦 1. Load the Dataset

In [2]:
import pandas as pd

# Load the CSV file
df=pd.read_csv('C:/Users/Abhijeet Kuanr/Downloads/data/KaggleV2-May-2016.csv')

* Overview

In [3]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No

* Rename columns

In [4]:
df.rename(columns={
    "Handcap": "Handicap",
    "No-show": "No_Show"
}, inplace=True)

* Convert datetime columns

In [5]:
df["ScheduledDay"] = pd.to_datetime(df["ScheduledDay"])
df["AppointmentDay"] = pd.to_datetime(df["AppointmentDay"])

* Convert No_Show to boolean

In [6]:
df["No_Show"] = df["No_Show"].map({"Yes": True, "No": False})

* Remove rows with negative ages

In [7]:
df = df[df["Age"] >= 0]

* Convert PatientId to string

In [8]:
df["PatientId"] = df["PatientId"].astype("int64").astype("str")

In [15]:
df.head()

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handicap,SMS_received,No_Show
0,29872499824296,5642903,F,2016-04-29 18:38:08+00:00,2016-04-29 00:00:00+00:00,62,JARDIM DA PENHA,0,1,0,0,0,0,False
1,558997776694438,5642503,M,2016-04-29 16:08:27+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,0,0,0,0,0,False
2,4262962299951,5642549,F,2016-04-29 16:19:04+00:00,2016-04-29 00:00:00+00:00,62,MATA DA PRAIA,0,0,0,0,0,0,False
3,867951213174,5642828,F,2016-04-29 17:29:31+00:00,2016-04-29 00:00:00+00:00,8,PONTAL DE CAMBURI,0,0,0,0,0,0,False
4,8841186448183,5642494,F,2016-04-29 16:07:23+00:00,2016-04-29 00:00:00+00:00,56,JARDIM DA PENHA,0,1,1,0,0,0,False

🔍 2. Identify and Handle Missing Values

In [15]:
# Check for missing values
print(df.isnull().sum())

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [16]:
# Option 1: Drop rows with missing values
df = df.dropna()

In [ ]:
# Option 2: Fill missing values (if appropriate)
# df['column_name'] = df['column_name'].fillna("Unknown")
# eg. df['AppointmentDay']=df['AppointmentDay'].fillna("Unknown")

🧹 3. Remove Duplicate Rows

In [17]:
# Check for duplicates
print(f"Duplicates found: {df.duplicated().sum()}")

# Drop duplicate rows
df = df.drop_duplicates()

Duplicates found: 0

🔧 7. Check and Fix Data Types

Ensure correct data types for each column.

In [12]:
# Example: Age should be integer
df['Age'] = df['Age'].astype(int)

# Check data types
print(df.dtypes)

PatientId                      object
AppointmentID                   int64
Gender                         object
ScheduledDay      datetime64[ns, UTC]
AppointmentDay    datetime64[ns, UTC]
Age                             int64
Neighbourhood                  object
Scholarship                     int64
Hipertension                    int64
Diabetes                        int64
Alcoholism                      int64
Handicap                        int64
SMS_received                    int64
No_Show                          bool
dtype: object

✅ Final Step: Save the Cleaned Dataset

In [14]:
df.to_csv("cleaned_dataset.csv", index=False)